option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: application:application
  aws:elasticbeanstalk:application:environment:
    GOOGLE_API_KEY: "AIzaSyAKXR8abOnE_yInp-dUjoJLYhwN5k95Tf8"
    NCBI_API_KEY: ""
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static 